.card-img-top{
   
    height: 22rem !important;
    border-radius: 1rem !important;
    width: 100% !important;
}
.card-img-top:hover{
    background-color: white !important;
    opacity: 0.9;
   
}
.card{
    border: none !important;
    margin-bottom: 15px !important;
    
}
.card-body{
    padding: 0 !important;
}
.link{
    text-decoration: none !important;
}
.card-one{
    border: 1px solid black !important;
    padding: 2rem !important;
    border-radius: 1rem !important;
}