<% layout ("../layout/boiler.ejs") %>

<div class="row">
   <h3 class="mt-5 offset-3">Oops !</h3>
   <div class="col-5 mt-5 offset-3">
      <div class="alert alert-danger" role="alert">
         <%=message%>
        </div>
   </div>
</div>