<% layout ("../layout/boiler.ejs") %>
<div class="row">
    <div class="col-8 offset-3 mt-5">
        <h3 class="mt-5">Login</h3>
        <form class="mt-5" method="POST" action="/login">
           

            <label class="form-label" for="">Username</label>
            <input class="form-control" name="username" type="text">

            <label class="form-label" for="">Password</label>
            <input  class="form-control" name="password" type="text">
            <button class="btn btn-primary mt-4">Submit</button>
            
        </form>
    </div>
</div>