<% layout ("../layout/boiler.ejs") %>


<div class="row">
    <div class="col-8">
        <div class="card col-5" >
            <img src="<%=dataTwo.image%>" class="card-img-top" alt="listings-image">
            <div class="card-body">
              <p class="card-text"><%=dataTwo.title%></p>
            </div>
          </div>
    </div>
</div>